body, html {
  height: 100%;
}

body {
  background: url('./images/hourglass.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.timer-text {
  font-family: 'Orbitron', sans-serif;
}

.container, footer{
  width: 90vw;
  max-width: 768px;
  margin-top: 20px;
  background-color:rgba(235, 235, 250, 0.6);
  border-radius: 10px;
}
.but{
    color: #fff;
    height: 50px;
    background: linear-gradient(140deg, #f1cf9d, #724605);
    border-radius: 15px;
}
.but:active {
  background: linear-gradient(140deg, #724605, #f1cf9d);
}
.lengths {
  border-radius: 5px;
}

#session-timer-panel {
  background-color: white;
  max-width: 180px;
  border-radius: 50%
}

#time-left {
  font-size: 30px;
  font-weight: 800;
}

footer {
  max-width: 425px;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .container {
    margin-top: 50px;
  }
}