body, html {
  height: 100%;
}

body {
  background: url('./images/hourglass.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}
.timer-text {
  font-family: 'Orbitron', sans-serif;
}
.container, footer{
  width: 90vw;
  max-width: 768px;
  margin-top: 20px;
  /* border: 5px solid white; */
  background-color:rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}

#break-label {
  /* border: 1px solid black; */
}

#session-timer-panel {
  background-color: white;
  max-width: 180px;
  border-radius: 50%
}

#time-left {
  font-size: 30px;
  font-weight: 800;
}
.btn{
    color: #fff;
    background: linear-gradient(140deg, #f1cf9d, #724605);
    /* font-family: 'Comfortaa', cursive;
    font-size: 22px;
    font-weight: 700; */
    /* text-transform: lowercase;
    padding: 10px 20px;
    border: none; */
    border-radius: 15px;
    /* overflow: hidden; */
    /* position: relative; */
    /* transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1); */
}
footer {
  max-width: 425px;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .container {
    margin-top: 50px;
  }
}